#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#professor-oak {
    margin: 2rem 0;
    width: clamp(5rem, 5vw, 10rem);
    height: auto;
}

h2 {
    font-size: clamp(1rem, 2.0vw, 2rem);
    width: 70%;
}

#choose-gen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
}

.card:hover {
    opacity: 50%;
    cursor: pointer;
}

h2,
.card p {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

/**********Tablets********/
@media (min-width: 500px) and (max-width: 959px) {
    /* #professor-oak {
        width: 10%;
        height: auto;
    } */

    #choose-gen {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;
        align-items: center
    }

    .card{
        width: 80%;
        height: auto;
    }
}

/**********Phones********/
@media (max-width: 499px) {
    /* #professor-oak {
        width: 16%;
        height: auto;
    } */

    #choose-gen {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center
    }

    .card {
        width: 60%;
        height: auto;
    }
}