/* ----------------------------------------Hangman---------------------------------------- */
#hangman {
    position: relative;
    max-width: 25vw;
    margin: 0 auto;
    left: 23vw;
    top: -13vw;
}

#body, #noose, #pole {
    border-left: 4px solid rgba(218, 223, 225, 0.8);
}

#arm-left, #arm-right, #leg-left, #leg-right, #top-rail, #floor {
    border-top: 4px solid rgba(218, 223, 225, 0.8);
}
#head {
    border: 4px solid rgba(218, 223, 225, 0.8);
}

#head {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
}

#body {
    height: 10vw;
    position: absolute;
    top: 7vw;
    left: 3.5vw;
}

#arm-left {
    width: 5vw;
    position: absolute;
    top: 10vw;
    left: -1.5vw;
}

#arm-right {
    width: 5vw;
    position: relative;
    top: 10vw;
    left: 3.4vw;
}

#leg-left, #leg-left-silhouette {
    width: 5vw;
    rotate: -30deg;
    position: relative;
    top: 17.7vw;
    left: -1.2vw;
}

#leg-right {
    width: 5vw;
    rotate: 30deg;
    position: relative;
    top: 17.6vw;
    left: 3.3vw;
}

#top-rail {
    width: 15vw;
    position: absolute;
    left: 3.3vw;
    top: -3vw;
}

#noose {
    height: 3vw;
    position: absolute;
    left: 3.5vw;
    top: -3vw;
}

#pole {
    height: 25vw;
    position: absolute;
    top: -3vw;
    left: 18vw;
}

#floor {
    width: 22vw;
    position: absolute;
    left: -3vw;
    top: 22vw;
}

#game-board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5rem;
}

#guessing-field {
    font-family: "Press Start 2P", system-ui;
    font-size: 3.5vw;
    margin-top: 10rem;
}

