h2 {
    margin-top: 3rem;
}

#choose-gen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
}

.card:hover {
    opacity: 50%;
    cursor: pointer;
}

h2,
.card p {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

/**********Laptops********/
@media (min-width: 960px) and (max-width: 1200px) {
    #choose-gen {
        grid-template-columns: repeat(2, 1fr);
    }
}

/**********Tablets********/
@media (max-width: 959px) {
    #choose-gen {
        grid-template-columns: 1fr;
    }
}