/* ----------------------------------------CSS for all pages---------------------------------------- */
:root {
    --header-footer-color: #ee1515;
    --background-color: #f0f0f0;
    --box-color: #222224;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    background-color: var(--header-footer-color);
    border-bottom: 2rem solid black;
    height: 6rem;
    display: flex;
    justify-content: center;
}

#heading {
    width: 40rem;
    height: auto;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--header-footer-color);
    border-top: 2rem solid black;
    height: 6rem;
}

.reset {
    height: 2rem;
    width: 8rem;
    background-color: #222224;
    color: #f0f0f0;
}

/**********Laptops********/
@media (min-width: 960px) and (max-width: 1200px) {
    #heading {
        width: 30rem;
    }
}

/**********Tablets********/
@media (min-width: 500px) and (max-width: 959px) {
    #heading {
        width: 27rem;
    }
}

/**********Phones********/
@media (max-width: 499px) {
    #heading {
        width: 21rem;
    }
}