:root {
    --header-footer-color: #ee1515;
    --background-color: #f0f0f0;
    --box-color: #222224;
}

* {
    margin: 0;
}

header {
    background-color: var(--header-footer-color);
    border-bottom: 2rem solid black;
    height: 7rem;
}

main {
    height: 100vh;
    display: flex;
}

.hangman {
    position: absolute;
    left: 500px;
}

.head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 30px;
    left: -5px;
}

.body {
    border-left: 2px solid black;
    height: 90px;
    position: absolute;
    top: 82px;
    left: 22px;
}

.arm-left {
    border-top: 2px solid black;
    width: 35px;
    position: absolute;
    top: 110px;
    left: -13px;
}

.arm-right {
    border-top: 2px solid black;
    width: 35px;
    position: relative;
    top: 110px;
    left: 24px;
}

.leg-left {
    border-top: 2px solid black;
    width: 35px;
    rotate: -30deg;
    position: relative;
    top: 170px;
    left: -9px;
}

.leg-right {
    border-top: 2px solid black;
    width: 35px;
    rotate: 30deg;
    position: relative;
    top: 169px;
    left: 21px;
}

.top-rail {
    border-top: 2px solid black;
    width: 155px;
    position: absolute;
    left: 22px;
}

.noose {
    border-left: 2px solid black;
    height: 30px;
    position: absolute;
    left: 22px;
}

.pole {
    border-left: 2px solid black;
    height: 225px;
    position: absolute;
    top: 1px;
    left: 176px;
}

.floor {
    border-top: 2px solid black;
    width: 200px;
    position: absolute;
    top: 226px;
}

.hidden {
    display: none;
}

.reset {
    height: 2rem;
    width: 8rem;
    background-color: #222224;
    color: #f0f0f0;
}

footer {
        background-color: var(--header-footer-color);
        border-top: 2rem solid black;
        height: 7rem;
}